In [1]:
# Data Cleaning Documentation for Adidas Sales Data

## Introduction
#This Jupyter Notebook documents the data cleaning process for the Adidas Sales Data used in a Sales Performance Analysis. The aim is to prepare the data for analysis, ensuring it is clean and formatted correctly.

In [2]:
import pandas as pd

inpPath = r"C:\Users\ciana\OneDrive\Documents\DCU\Final Year\MT412 - Professional Business Analytics\Adidas_Sales_Data.csv"
inpDf = pd.read_csv(r"C:\Users\ciana\OneDrive\Documents\DCU\Final Year\MT412 - Professional Business Analytics\Adidas_Sales_Data.csv")

In [3]:
#Display the first few rows of the dataset and summary information
inpDf.info()
inpDf.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9648 entries, 0 to 9647
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Retailer          9648 non-null   object
 1   Retailer ID       9648 non-null   int64
 2   Invoice Date      9648 non-null   object
 3   Region            9648 non-null   object
 4   State             9648 non-null   object
 5   City              9648 non-null   object
 6   Gender Type       9648 non-null   object
 7   Product Category  9648 non-null   object
 8   Price per Unit    9648 non-null   int64
 9   Units Sold        9648 non-null   int64
 10  Total Sales       9648 non-null   int64
 11  Operating Profit  9648 non-null   float64
 12  Operating Margin  9648 non-null   float64
 13  Sales Method      9648 non-null   object
dtypes: float64(2), int64(4), object(8)
memory usage: 1.0+ MB

,Retailer ID,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin
count,9.648000e+03,9648.000000,9648.000000,9648.000000,9648.000000,9648.000000
mean,1.173850e+06,45.216625,256.930037,93273.437500,34425.244761,0.422991
std,2.636038e+04,14.705397,214.252030,141916.016727,54193.113713,0.097197
min,1.128299e+06,7.000000,0.000000,0.000000,0.000000,0.100000
25%,1.185732e+06,35.000000,106.000000,4254.500000,1921.752500,0.350000
50%,1.185732e+06,45.000000,176.000000,9576.000000,4371.420000,0.410000
75%,1.185732e+06,55.000000,350.000000,150000.000000,52062.500000,0.490000
max,1.197831e+06,110.000000,1275.000000,825000.000000,390000.000000,0.800000

In [4]:
## Data Cleaning ##

In [5]:
### Rename Columns

# Rename columns to remove spaces and make names more concise
inpDf.columns = ['Retailer', 'RetailerID', 'InvoiceDate', 'Region', 'StateName', 'City',
                'GenderType', 'ProductCategory', 'PricePerUnit', 'UnitsSold',
                'TotalSales', 'OperatingProfit', 'OperatingMargin', 'SalesMethod']

In [6]:
### Check for Duplicates ###

In [7]:
# Check for duplicates
duplicate_rows = inpDf.duplicated().sum()
duplicate_rows

0

In [8]:
### Handle Zero Sales ###

In [9]:
# Assuming zero sales are valid, no action is needed; otherwise, we could filter them out

inpDf = inpDf[inpDf['TotalSales'] > 0]

In [10]:
### Analyse and Treat Outliers ###

price_99th = inpDf['PricePerUnit'].quantile(0.99)
sales_99th = inpDf['TotalSales'].quantile(0.99)

In [11]:
inpDf['PricePerUnit'] = inpDf['PricePerUnit'].clip(upper=price_99th)
inpDf['TotalSales'] = inpDf['TotalSales'].clip(upper=sales_99th)

#The primary reason why I capped values at the 99th percentile is to reduce the impact of extreme values that can skew the analysis. These extreme values might be due to data entry errors, unusual transactions, or other anomalies.

In [12]:
# Display the cleaned data structure
inpDf.info()
inpDf.describe()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9644 entries, 0 to 9647
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Retailer         9644 non-null   object
 1   RetailerID       9644 non-null   int64
 2   InvoiceDate      9644 non-null   object
 3   Region           9644 non-null   object
 4   StateName        9644 non-null   object
 5   City             9644 non-null   object
 6   GenderType       9644 non-null   object
 7   ProductCategory  9644 non-null   object
 8   PricePerUnit     9644 non-null   int64
 9   UnitsSold        9644 non-null   int64
 10  TotalSales       9644 non-null   int64
 11  OperatingProfit  9644 non-null   float64
 12  OperatingMargin  9644 non-null   float64
 13  SalesMethod      9644 non-null   object
dtypes: float64(2), int64(4), object(8)
memory usage: 1.1+ MB

,RetailerID,PricePerUnit,UnitsSold,TotalSales,OperatingProfit,OperatingMargin
count,9.644000e+03,9644.000000,9644.000000,9644.000000,9644.000000,9644.000000
mean,1.173845e+06,45.150249,257.036603,92451.433534,34439.523170,0.422972
std,2.636473e+04,14.475615,214.232536,138504.603589,54199.815777,0.097202
min,1.128299e+06,7.000000,6.000000,160.000000,75.200000,0.100000
25%,1.185732e+06,35.000000,106.000000,4261.250000,1924.825000,0.350000
50%,1.185732e+06,45.000000,176.000000,9581.000000,4374.360000,0.410000
75%,1.185732e+06,55.000000,350.000000,150000.000000,52062.500000,0.490000
max,1.197831e+06,85.000000,1275.000000,585000.000000,390000.000000,0.800000

In [13]:
# Only four entries were removed after the cleaning process.

In [14]:
## Exporting the Cleaned Data ##

# Define the output path for the cleaned CSV file
outPath = r"C:\Users\ciana\OneDrive\Documents\DCU\Final Year\MT412 - Professional Business Analytics\Cleaned_Adidas_Sales_Data.csv"

# Export the cleaned DataFrame to a CSV file
inpDf.to_csv(outPath, index=False)